---
import { getSession } from "auth-astro/server";

import { api } from "~/utils/api";
import Orderhistory from "~/components/Orderhistory";
import Layout from "~/layouts/Layout.astro";

function formatDate(d) {
  console.log(d);

  const year = d.getFullYear(); // 2019
  const date = d.getDate(); // 23
  const months = [
    "Enero",
    "Febrero",
    "Marzo",
    "Abril",
    "Mayo",
    "Junio",
    "Julio",
    "Augosto",
    "Septiembre",
    "Octubre",
    "Noviembre",
    "Diciembre",
  ];
  const days = [
    "Domingo",
    "Lunes",
    "Martes",
    "Miércoles",
    "Jueves",
    "Viernes",
    "Sábado",
  ];
  const monthIndex = d.getMonth();
  const monthName = months[monthIndex];
  const dayIndex = d.getDay();
  const dayName = days[dayIndex]; // Thu
  return `${dayName}, ${date} ${monthName} ${year}`;
}

const session = await getSession(Astro.request);
const user = await api.users.show.query({ email: session?.user?.email });

export const prerender = true;
---

<Layout title="pago">
  <main class="mx-auto max-w-7xl px-4 py-16 sm:px-6 lg:px-8 lg:pb-24">
    <div class="max-w-xl">
      <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">
        Historial de pago
      </h1>
      <p class="mt-1 text-sm text-gray-500">
        Check the status of recent orders, manage returns, and download
        invoices.
      </p>
    </div>

    <section aria-labelledby="recent-heading" class="mt-16">
      <h2 id="recent-heading" class="sr-only">Recent orders</h2>

      <div class="space-y-20">
        {
          user?.openPayData?.map(({ order }) => (
            <div>
              <h3 class="sr-only">
                Order placed on{" "}
                <time datetime="2021-01-22">{order.createdAt}</time>
              </h3>

              <div class="rounded-lg bg-gray-50 px-4 py-6 sm:flex sm:items-center sm:justify-between sm:space-x-6 sm:px-6 lg:space-x-8">
                <dl class="flex-auto space-y-6 divide-y divide-gray-200 text-sm text-gray-600  sm:grid sm:grid-cols-3 sm:gap-x-6 sm:space-y-0 sm:divide-y-0 lg:w-1/2 lg:flex-none lg:grid-cols-4 lg:gap-x-8">
                  <div class="flex justify-between sm:block">
                    <dt class="font-medium text-gray-900">Fecha de orden</dt>
                    <dd class="sm:mt-1">
                      <time datetime={order.createdAt}>
                        {formatDate(new Date(order.createdAt))}
                      </time>
                    </dd>
                  </div>
                  <div class="col-span-2 flex justify-between pt-6 sm:block sm:pt-0">
                    <dt class="font-medium text-gray-900">Número de orden</dt>
                    <dd class="sm:mt-1">{order?.id}</dd>
                  </div>
                  <div class="flex justify-between pt-6 font-medium text-gray-900 sm:block sm:pt-0">
                    <dt>Total</dt>
                    <dd class="sm:mt-1">
                      {(
                        order?.products
                          ?.map((p) => p.currentPrice * p.quantity)
                          .reduce((acc, curr) => acc + curr, 0) / 100
                      ).toLocaleString("es-MX", {
                        style: "currency",
                        currency: `mxn`,
                      })}
                    </dd>
                  </div>
                </dl>
                <a
                  href="#"
                  class="mt-6 flex w-full items-center justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:w-auto"
                >
                  Ver Recibo
                  <span class="sr-only">for order WU88191111</span>
                </a>
              </div>

              <table class="mt-4 w-full text-gray-500 sm:mt-6">
                <caption class="sr-only"> Products</caption>
                <thead class="sr-only text-left text-sm text-gray-500 sm:not-sr-only">
                  <tr>
                    <th
                      scope="col"
                      class="py-3 pr-8 font-normal sm:w-2/5 lg:w-1/3"
                    >
                      Producto
                    </th>
                    <th
                      scope="col"
                      class="hidden w-1/5 py-3 pr-8 font-normal sm:table-cell"
                    >
                      Cantidad
                    </th>
                    <th
                      scope="col"
                      class="hidden w-1/5 py-3 pr-8 font-normal sm:table-cell"
                    >
                      Precio
                    </th>
                    <th
                      scope="col"
                      class="hidden py-3 pr-8 font-normal sm:table-cell"
                    >
                      Estado
                    </th>
                    <th scope="col" class="w-0 py-3 text-right font-normal">
                      Info
                    </th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 border-b border-gray-200 text-sm sm:border-t">
                  {order?.products?.map(
                    ({ quantity, product, currentPrice }) => (
                      <tr>
                        <td class="py-6 pr-8">
                          <div class="flex items-center">
                            <img
                              src={`https://d26xfdx1w8q2y3.cloudfront.net/${product.image.path}/${product.image.original}`}
                              alt="Black tee with intersecting red, white, and green curved lines on front."
                              class="mr-6 h-16 w-16 rounded object-cover object-center"
                            />
                            <div>
                              <div class="font-medium text-gray-900">
                                {product.name}
                              </div>
                              <div class="mt-1 sm:hidden">
                                {" "}
                                {(currentPrice / 100).toLocaleString("es-MX", {
                                  style: "currency",
                                  currency: `mxn`,
                                })}
                              </div>
                              <div class="mt-1 sm:hidden">Cant. {quantity}</div>
                            </div>
                          </div>
                        </td>
                        <td class="hidden py-6 pr-8 sm:table-cell">
                          {" "}
                          {quantity}
                        </td>
                        <td class="hidden py-6 pr-8 sm:table-cell">
                          {" "}
                          {(currentPrice / 100).toLocaleString("es-MX", {
                            style: "currency",
                            currency: `mxn`,
                          })}
                        </td>
                        <td class="hidden py-6 pr-8 sm:table-cell">
                          Delivered Jan 25, 2021
                        </td>
                        <td class="whitespace-nowrap py-6 text-right font-medium">
                          <a href={`/${product?.slug}`} class="text-indigo-600">
                            Ver<span class="hidden lg:inline"> Producto</span>
                            <span class="sr-only" />
                          </a>
                        </td>
                      </tr>
                    ),
                  )}
                </tbody>
              </table>
            </div>
          ))
        }
      </div>
    </section>
  </main>
</Layout>
