---
import { api } from "~/utils/api";
import Layout from "~/layouts/Layout.astro";

// const response = await fetch(`http://localhost:3000/api/products/${slug}`);
// const data: Product = await response.json();

interface MyHTML {
  [key: string]: string;
}

const dateOptions: object = {
  year: "2-digit",
  month: "long",
  day: "numeric",
};

export async function getStaticPaths() {
  const data = await api.blog.all.query();

  return data.map((blog) => {
    return {
      params: { slug: blog.slug },
      props: { blog },
    };
  });
}
const slug = Astro.params.slug as string;
const data = (await api.blog.show.query({ slug })) as any;

export const prerender = true;

function descriptionFormat(desc: string): string {
  const productDesc = desc || "{}";
  const parseDesc = JSON.parse(productDesc) as Object[];
  const htmlKey = parseDesc[1] as MyHTML;
  return htmlKey["html"];
}
const formattedPublishDate = new Date(data.publishedAt).toLocaleDateString(
  "es-MX",
  dateOptions,
);
---

<Layout title={`ICB | ${data.title}`} description="Página de inicio">
  <div class="border-b border-gray-200">
    <nav aria-label="Breadcrumb" class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <ol role="list" class="flex items-center space-x-4 py-4">
        <li>
          <div class="flex items-center">
            <a href="/" class="mr-4 text-sm font-medium text-gray-900">Inicio</a
            >
            <svg
              viewBox="0 0 6 20"
              aria-hidden="true"
              class="h-5 w-auto text-gray-300"
            >
              <path
                d="M4.878 4.34H3.551L.27 16.532h1.327l3.281-12.19z"
                fill="currentColor"></path>
            </svg>
          </div>
        </li>

        <li>
          <div class="flex items-center">
            <a href="/blogs" class="mr-4 text-sm font-medium text-gray-900"
              >Blogs</a
            >
            <svg
              viewBox="0 0 6 20"
              aria-hidden="true"
              class="h-5 w-auto text-gray-300"
            >
              <path
                d="M4.878 4.34H3.551L.27 16.532h1.327l3.281-12.19z"
                fill="currentColor"></path>
            </svg>
          </div>
        </li>

        <li class="text-sm">
          <span
            aria-current="page"
            class="font-medium cursor-default text-gray-500 hover:text-gray-600"
            >{data.title}</span
          >
        </li>
      </ol>
    </nav>
  </div>
  <div class="inline-flex text-sm pt-4">
    <p class="ml-4 mr-2 font-semibold">Categorías:</p>
    <div class="flex space-x-2">
      {data.BlogCategory.map((c) => <div class="">{c.name}</div>)}
    </div>
  </div>

  <div class="bg-white px-6 py-24 lg:px-8">
    <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
      <p class="text-base font-semibold leading-7 text-indigo-600">
        {formattedPublishDate}
      </p>
      <h1
        class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
      >
        {data.title}
      </h1>
      <p class="mt-6 text-xl leading-8">
        {data.shortDescription}
      </p>
      <div class="mt-10 max-w-2xl">
        <figure class="mt-16">
          <img
            class="aspect-video rounded-xl bg-gray-50 object-cover"
            src={data.image
              ? `https://d26xfdx1w8q2y3.cloudfront.net/${data.image.path}/${data.image.original}`
              : "https://picsum.photos/1500"}
            alt={data.image && data.image.alt ? data.image.alt : ""}
          />
          <figcaption class="mt-4 flex gap-x-2 text-sm leading-6 text-gray-500">
            <svg
              class="mt-0.5 h-5 w-5 flex-none text-gray-300"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z"
                clip-rule="evenodd"></path>
            </svg>
            {data.image && data.image.alt ? data.image.alt : ""}
          </figcaption>
        </figure>
        <div
          class="mt-5"
          set:html={descriptionFormat(data.description).toString()}
        />
      </div>
    </div>
  </div>
</Layout>
